<%= form_for [@parks.first, Game.new], html: { class: 'new-game-form' } do |f| %>
  <h6 id="new-park-name">
    <span>Selected Park:</span><br>
    <%= @parks.first.name.upcase %>
  </h6>
  <%= f.text_field :time, class: "clockpicker" %>
  <%= f.submit class: "btn-join" %>
<% end %>


