<div class="tab extra">
  <%= render 'shared/header/new_game_button' %>
  <%= render 'shared/header/new_game_form' %>
  <%= image_tag "#{current_user.image}", alt: "Profile Picture", id: "profile-picture" %>
  <button id="menu-button"><%= icon('bars') %></button>
</div>
