<main id="landing-content" class="content">
  <section class="value-added">
    <div class="image-filter">
    </div>
    <div class="value-content">
      <h2>Play More Basketball.</h2>
      <p>
        With Got Next, you can schedule your games ahead of time. Pick a time,
        show up, and play. It's that easy.
      </p>
    </div>
    <button class="btn-see-parks">
      Look For Your Courts
    </button>
    <p class="scroll-prompt"><%= icon('chevron-down') %></p>
  </section>
  <ul class="parks">
    <li class="park">
      Chicago Park District
    </li>
    <li class="park">
      Chicago Athletic Clubs
    </li>
    <li class="park">
      XSport Fitness
    </li>
  </ul>
</main>
