<main id="landing-content" class="content">
  <h2 class="title">
    GOT NEXT
  </h2>
  <section class="value-added">
    Get off the bench and play basketball.
  </section>
  <ul class="parks">
    <li class="park" style="background-color: blue;">
      Chicago Park District
    </li>
    <li class="park" style="background-color: red;">
      CAC
    </li>
    <li class="park" style="background-color: green;">
      XSport
    </li>
  </ul>
</main>
