<main id="landing-content" class="content">
  <section class="value-added">
    <div class="image-filter">
    </div>
    <div class="value-content">
      <h2>Play More Basketball.</h2>
      <p>
        Get off the bench and into the game. Sign up for a game when you have
        time, show up, and play ball.
      </p>
    </div>
    <p class="scroll-prompt"><%= icon('chevron-down') %></p>
  </section>
  <ul class="parks">
    <li class="park">
      Chicago Park District
    </li>
    <li class="park">
      CAC
    </li>
    <li class="park">
      XSport
    </li>
  </ul>
</main>
