#main-content {
  width: 100%;
  height: 400px;
  padding: 0;
  display: block;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: $smoke;
}

.location-grid {
  @include block-grid(
    $per-row: 1,
    $spacing: 0,
    $base-style: true
  );
    .location-panel {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% center;
  }
}

#mapbar {
  height: $home-page-spacing;
  background-color: $smoke;
  h6 {
    line-height: $home-page-spacing;
    margin: 0 rem-calc(20);
    i {
      vertical-align: middle;
    }
  }
}

#signup {
  a{
    font-weight: bold;
  }
}