<%= link_to game do %>
<li class="time-panel">
  <h2 class="time"><%= game.time.strftime("%I:%M %P") %></h2>
  <h2 class="court-number">
    Court <%= game.court.court_number %>
  </h2>
</li>
<% end %>