<main id="location-content" class="content row">

    <div class="small-12 medium-6 medium-push-6 columns help">
      <p>
        Where would you like to play today?
      </p>
      <p>
        Pick your favorite court!
      </p>
    </div>

    <div class="small-12 medium-6 medium-pull-6 columns parks">
      <ul class="location-grid">
        <%= render @parks %>
      </ul>
    </div>

</main>

<div id="mapbar">
  <h6><i class="fa fa-map-marker fa-2x"></i></h6>
</div>

<% unless logged_in? %>
<div id="main-button">
  <%= link_to "Sign up, now!", signup_path, class: "button expand" %>
</div>
<% end %>
