<% provide(:title, "Parks") %>

<%= hidden_field_tag :latitude, "", id: "latitude" %>
<%= hidden_field_tag :longitude, "", id: "longitude" %>

<script type="text/javascript">
  var $latitudeField = $("#latitude");
  var $longitudeField = $("#longitude");
  getLocation();
</script>

<div class="loading">
  LOADING
</div>

<main id="location-content" class="content">
</main>
