<%= hidden_field_tag :latitude, "", id: "latitude" %>
<%= hidden_field_tag :longitude, "", id: "longitude" %>

<script type="text/javascript">
  var $latitudeField = $("#latitude");
  var $longitudeField = $("#longitude");
  getLocation();
</script>

<main id="location-content" class="content">
  <% Time.zone = "Central Time (US & Canada)" %>
  <ul class="mapline">
    <li>
      <div class="park-label">
        <p>Find a basketball game below!</p>
      </div>
    </li>
    <%= render @parks %>
  </ul>
</main>
