<% content_for :head do %>

<% end%>

<%= hidden_field_tag :latitude, "", id: "latitude" %>
<%= hidden_field_tag :longitude, "", id: "longitude" %>

<div class="loading">
  <p>
    LOADING...
    <span>Finding your location</span>
  </p>
</div>

<main id="location-content" class="content">
</main>

<script type="text/javascript">
  var $latitudeField = $("#latitude");
  var $longitudeField = $("#longitude");
  getLocation();
</script>
