<% provide(:title, "Sign Up") %>
<main id="signup-content" class="content">

  <div class="signup-row">
    <h1 class="prompt signup-element">Sign Up</h1>
  </div>

  <div class="signup-row">
    <%= form_for @user, html: { class: "signup-form" } do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "button expand", id: "signup-button" %>
    <% end %>
  </div>
</main>
