<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= link_to root_path do %>
          <%= image_tag "scoreboard-text200.png" %>
        <% end %>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="profile">
          <h3>brian</h3>
          <%= image_tag "brianScalabrine.jpeg" %>
        </li>
      </ul>
    </section>
    <div class="menu right">
      <%= icon('bars') %>
    </div>
  </nav>
</header>
