<header>
  <nav class="top-bar" data-topbar role="navigation">
    <%= link_to root_path do %>
      <ul class="title-area">
        <li class="name">
          <%= image_tag "scoreboard-text200.png" %>
        </li>
      </ul>
    <% end %>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="profile">
          <h3>brian</h3>
          <%= image_tag "brianScalabrine.jpeg" %>
        </li>
      </ul>
    </section>
    <div class="menu right">
      <%= icon('bars') %>
    </div>
  </nav>
</header>
