@font-face {
  font-family: 'ecoico';
  src:url(asset-path('fonts/timelineicons/ecoico.eot'));
  src:url(asset-path('fonts/timelineicons/ecoico.eot?#iefix')) format('embedded-opentype'),
    url(asset-path('fonts/timelineicons/ecoico.woff')) format('woff'),
    url(asset-path('fonts/timelineicons/ecoico.ttf')) format('truetype'),
    url(asset-path('fonts/timelineicons/ecoico.svg#ecoico')) format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

$color-1: black; //#3594cb;
$color-2: gray; //#6cbfee;
$mapline-align: 10%;
$label-height: 40rem;
$distance-offset: ($label-height / 2) - 2.5rem; // 2.5 accounts for pointer offset
$arrow-width: 1.5rem;
$label-radius: 1rem;

#location-content {
  width: 90%;
  height: 400px;
  padding: 5rem 0 0 0;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: transparent;
  // @include grid-row();
  .mapline {
    margin: 3rem 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    // The line
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1rem;
      background: $app-red; //#afdcf8;
      left: $mapline-align;
      margin-left: -1rem;
    }
    // The distance
    > li {
      .distance {
        position: absolute;
        display: block;
        width: 30%;
        padding-right: 10rem;
        padding-top: $distance-offset;
        span {
          display: block;
          text-align: right;
          &:first-child {
            font-size: 0.9rem;
            color: #bdd0db;
          }
          &:last-child {
            font-size: 2.9rem;
            color: $color-1;
          }
        }
      }
      &:nth-child(odd) {
        .distance {
          span:last-child {
            color: $color-1;
          }
        }
        // Right content
        .park-label {
          background: $color-1;
          &:after {
            border-right-color: $color-1;
          }
        }
      }
      // Right content
      .park-label {
        margin: 0 0 1.5rem 25%;
        background: $color-1;
        color: #fff;
        padding: 2rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        border-radius: $label-radius;
        height: $label-height;
        width: $label-height * 1.5;
        background-size: cover;
        transition: width 0.6s;
        .image-filter {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,.4);
          border-radius: $label-radius;
        }
        h2 {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0 0 0 1rem;
          padding: 0;
          color: white;
        }
        .new-game {
          position: absolute;
          top: 1rem;
          right: 1rem;
          background: transparent;
          color: white;
          border: none;
        }
        // The triangle
        &:after {
          position: absolute;
          top: 2rem + $distance-offset;
          right: 100%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          pointer-events: none;
          border-right-color: $color-1;
          border-width: $arrow-width;
        }
        .active-games {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          margin: 0;
          .game {
            display: inline-block;
            margin-right: 2rem;
            .time {
              text-align: center;
            }
            .roster {
              text-align: center;
              border-top: 1px solid gray;
            }
          }
        }
      }
      .icon, input[type="radio"] {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 0;
      }
      input[type="radio"] {
        left: $mapline-align - 2%;
        z-index: 10;
        opacity: 0;
        margin: 0;
        &:first-child {
          checked: "checked";
        }
      }
      .icon {
        font-family: 'ecoico';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 1.4em;
        line-height: 4rem;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        background: white; //#46a4da;
        border-radius: 50%;
        box-shadow: 0 0 0 .8rem $app-red; //#afdcf8;
        text-align: center;
        margin: 0 0 0 -2.5rem;
        cursor: default;
        left: $mapline-align;
      }
      input[type="radio"]:checked + .icon {
        background-color: $color-1;
      }
      input[type="radio"]:checked ~ .park-label {
        width: auto;
      }
      .icon_user {
        background: image-url('brianScalabrine.jpeg');
        background-size: cover;
        h3 {
          width: 10rem;
          position: absolute;
          top: -6rem;
          left: 50%;
          margin-left: -5rem;
        }
      }
    }
  }
  @media #{$small-only} {
    .mapline {
      &:before {
        display: none;
      }
      > li {
        .distance {
          // background-color: red;
          width: 100%;
          position: relative;
          padding: 0 0 2rem 0;
          span {
            text-align: left;
            &:last-child {
              font-size: 1.5em;
            }
          }
        }
        .park-label {
          margin: 0 0 3rem 0;
          padding: 1rem;
          font-weight: 400;
          font-size: 95%;
          &:after {
            right: auto;
            left: 2rem;
            border-right-color: transparent;
            border-bottom-color: $color-1;
            top: -2 * $arrow-width;
          }
        }
        &:nth-child(odd) {
          .park-label:after {
            border-right-color: transparent;
            border-bottom-color: $color-2;
          }
        }
        .icon {
          display: none;
        }
      }
    }
  }
  @media #{$medium-only} {
    .mapline {
      > li {
        .distance {
          display: none;
        }
        .park-label {
          width: auto;
        }
      }
    }
  }
}

















