#location-content {
  width: 100%;
  height: 400px;
  padding: 0;
  display: block;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: $white;
  .location-grid {
    @include block-grid(
      $per-row: 1,
      $spacing: 0,
      $base-style: true
    );
    .location-panel {
      height: 150px;
      background-color: $vapor;
      border-top: 1px solid $oil;
      position: relative;
      background-image: image-url('lincolnPark.jpg');
      background-size: cover;
      color: white;

      .image-filter {
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      $padding: 5;
      $font-color: $white;

      .park-name, {
        position: absolute;
        top: rem-calc($padding);
        left: rem-calc($padding);
        font-size: rem-calc(25);
        line-height: 1;
        color: $font-color;
      }
      .court-number {
        position: absolute;
        top: rem-calc($padding);
        right: rem-calc(2 * $padding);
        font-size: rem-calc(20);
        line-height: 1;
        color: $font-color;
      }
      .address {
        position: absolute;
        bottom: rem-calc($padding);
        left: rem-calc($padding);
        font-size: rem-calc(15);
        line-height: 1;
        color: $font-color;
      }
    }
  }
}

#mapbar {
  height: $main-page-spacing;
  background-color: $smoke;
  h6 {
    line-height: $main-page-spacing;
    margin: 0 rem-calc(20);
    i {
      vertical-align: middle;
    }
  }
}

#main-button {
  a{
    font-weight: bold;
  }
}