#time-content {
  width: 100%;
  height: 400px;
  padding: 0;
  display: block;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: $white;
  .time-grid {
    @include block-grid(
      $per-row: 1,
      $spacing: 0,
      $base-style: true
    );
    .time-panel {
      height: 150px;
      background-color: $vapor;
      border-top: 1px solid $oil;
      position: relative;

      $padding: 5;

      .time, {
        position: absolute;
        top: rem-calc($padding);
        left: rem-calc($padding);
        font-size: rem-calc(25);
        line-height: 1;
      }
      .court-number {
        position: absolute;
        top: rem-calc($padding);
        right: rem-calc(2 * $padding);
        font-size: rem-calc(20);
        line-height: 1;
      }
    }
  }
}

.game-player-grid {
  @include block-grid(
    $per-row: 6,
    $spacing: $block-grid-default-spacing,
    $base-style: true
  );
  height: $main-page-spacing;
  margin: rem-calc(40) auto 0 auto;
  vertical-align: bottom;
  .game-player-panel {
    margin: 0;
    display: inline-block;
    .game-player-image {
      margin: 0;
      display: inline-block;
      height: rem-calc(40);
      border-radius: 51%;
    }
  }
}
