<% provide(:pending, nil) %>
<% provide(:title, "Game") %>

<main id="main-content">
  <div class="row">
    <div class="small-10 small-centered columns">
      <ul class="time-grid">
        <% for i in 1..5 %>
          <li class="time-panel")>
            YOLO
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>