$profile-height: $base-page-spacing;

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .top-bar {
    .title-area {
      .name {
        a {
          img {
            height: $base-page-spacing;
            padding: 1rem;
          }
        }
      }
    }
    .top-bar-section {
      position: relative;
      width: 90%;
      margin: 0 auto;
      height: $profile-height;
      .right {
        .profile {
          position: absolute;
          top: 0;
          right: 10%;
          width: 20rem;
          height: $profile-height;
          background-color: transparent;
          h3 {
            position: absolute;
            display: inline-block;
            line-height: $profile-height;
            font-size: $profile-height * .3;
            text-transform: uppercase;
            right: .5 * $profile-height;
            margin-right: 1rem;
            padding-top: .3rem;
          }
          img {
            position: absolute;
            width: $profile-height - 1.6rem;
            vertical-align: top;
            right: 0;
            margin-right: .25rem - (.5 * $profile-height);
            margin-top: .8rem;
            border-radius: 50%;
            box-shadow: 0 0 0 .8rem $app-red;
          }
        }
      }
    }
    .menu {
      i {
        line-height: $profile-height;
        font-size: 5rem;
        margin-right: 1rem;
      }
    }
  }
}
