$menu-dimension: $base-page-spacing;
$menu-color: $body-font-color;
$menu-inverse-color: $white;

#hidden-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $menu-color;
  z-index: 25;
  ul {
    text-align: center;
    text-decoration: none;
    li {
      a {
        color:$menu-inverse-color;
        font-size: 5rem;
        text-decoration: uppercase;
      }
    }
  }
}

#title-image {
  position: absolute;
  top: 0;
  left: 0;
  height: $menu-dimension;
  margin: .8rem 0 0 .8rem;
}

#tab-profile {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 20;
  #tab {
    display: inline-block;
    background: $smoke;
    // border: $menu-color solid;
    // border-width: .1rem 0 .1rem .1rem;
    margin-top: 1rem;
    img {
      display: inline-block;
      height: $menu-dimension;
      width: $menu-dimension;
      vertical-align: top;
    }
    button {
      display: inline-block;
      height: $menu-dimension;
      width: $menu-dimension;
      font-size: 4rem;
      color: $menu-color;
      background: transparent;
      outline: 0;
    }
  }
  @media #{$small-only} {
    $menu-dimension: .6 * $base-page-spacing;

    background: transparent;
    #tab {
      img {
        display: none;
      }
      button {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
        background: $app-red;
        i {
          text-align: center;
          margin-left: -.2rem;
        }
      }
    }
  }
}
