$menu-dimension: $base-page-spacing;
$menu-dimension-small: 5rem;
$menu-color: $body-font-color;
$menu-inverse-color: $white;
$margin-correction: -.2rem;

@media #{$small-up} {
  #hidden-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.7);
    z-index: 30;
    // transition: $primary-transition;
    button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      outline: 0;
      background: transparent;
      font-size: 3rem;
      color: $menu-color;
    }
    ul {
      text-align: center;
      text-decoration: none;
      margin-top: 20rem;
      li {
        a {
          color: $menu-color;
          font-size: 5rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .title-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    padding: .8rem;
    background: $white;
    z-index: 25;
    border: 1px solid $body-font-color;
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: .5rem;
    box-shadow: .2rem .2rem .7rem rgba(0,0,0,0.5);
  }

  .tab {
    position: fixed;
    top: 0;
    right: 0;
    background: transparent;
    z-index: 26;
    width: (2 * $menu-dimension-small);
    border-bottom-left-radius: 5px;
    box-shadow: -.2rem .2rem .7rem rgba(0,0,0,0.5);
    .tab-menu {
      @include button-group-container();
      #profile-pic, #menu-button {
        width: $menu-dimension-small;
        height: $menu-dimension-small;
        color: white;
        vertical-align: bottom;
        outline: 0;
        font-size: 2rem;
      }
      #menu-button {
        @include button(
          $padding: 0,
          $bg: $app-blue
        );
      }
      #profile-pic {
        @include button(
          $padding: 0,
          $bg: $app-blue,
          $disabled: true
        );
        opacity: 1;
        border-bottom-left-radius: 5px;
        img {
          border-bottom-left-radius: 5px;
          height: 100%;
          width: 100%;
        }
      }
      & > li {
        @include button-group-style($float: right);
        &:last-child {
          border-bottom-left-radius: 5px;
        }
      }
    }
  }
}

@media #{$medium-up} {
  .title-image {
    height: $menu-dimension;
  }
  .blocker {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    width: 16rem;
    background: white;
    z-index: 19;
  }
  .tab {
    width: 2 * $menu-dimension;
    .tab-menu {
      #profile-pic, #menu-button {
        width: $menu-dimension;
        height: $menu-dimension;
        font-size: 4rem;
      }
    }
  }
}

@media #{$large-up} {}
