$header-dimension-small: 6rem;
$padding-small: 0.5rem;
$header-dimension: $base-page-spacing;
$header-color: $body-font-color;

@media #{$small-up} {
  #hidden-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.7);
    z-index: 30;
    button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      outline: 0;
      background: transparent;
      font-size: 3rem;
      color: $header-color;
    }
    ul {
      text-align: center;
      text-decoration: none;
      margin-top: 20rem;
      li {
        a {
          color: $header-color;
          font-size: 5rem;
          text-transform: uppercase;
        }
      }
    }
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: $header-dimension-small;
    background-color: transparent;
    color: $body-font-color;
    padding: 0 1rem;
    // box-shadow: .2rem 0rem .7rem rgba(0,0,0,0.5);

    .content {
      height: 100%;
      width: 100%;
      a {
        h1 {
          color: $white;
          display: inline-block;
          font-size: 4rem;
          line-height: 1;
          padding-top: 1rem;
          text-transform: uppercase;
        }
      }
      .logo-image {
        padding: $padding-small;
        height: $header-dimension-small;
      }

      .menu-buttons {
        list-style-type: none;
        float: right;
        height: 100%;
        li {
          float: left;
          vertical-align: top;
          height: 100%;
          &.session-name {
            color: white;
            font-size: 1.5rem;
            line-height: $header-dimension-small;
            padding-right: 1rem;
            a { color: white; }
          }
          button {
            font-size: 2rem;
            height: 100%;
            margin: 0 0.5rem;
            outline: 0;
            width: auto;
            vertical-align: top;
            &#profile-image {
              background-color: $transparent;
              position: relative;
              cursor: default;
              img {
                border-radius: 51%;
                height: 4rem;
                left: 50%;
                margin: -2rem 0 0 -2rem;
                position: absolute;
                top: 50%;
                width: 4rem;
              }
            }
            &#menu-button {
              background-color: transparent;
              color: white;
              margin-right: 0;
              position: relative;
              i {
                font-size: 3rem;
                height: 3rem;
                left: 50%;
                margin: -1.5rem 0 0 -1.5rem;
                position: absolute;
                top: 50%;
                width: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
