// Fonts

@import "font-awesome-sprockets";
@import "font-awesome";
// @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700);
// @import url(http://fonts.googleapis.com/css?family=Cabin);
// @import url(http://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Color Variables

$lightening-factor: 40%;
// $app-red: scale-color( #E32739, $lightness: $lightening-factor );
$app-red: scale-color( #E32739, $lightness: 30% );
$app-orange: scale-color( #F57215, $lightness: $lightening-factor );
$app-yellow: scale-color( #FEE011, $lightness: $lightening-factor );
$app-green: scale-color( #007F55, $lightness: 10% );
$app-blue: scale-color( #1C418C, $lightness: $lightening-factor );
$app-purple: scale-color( #803462, $lightness: $lightening-factor );

// Transitions

$primary-transition: all .5s;
$secondary-transition:  all .5s linear .5s;
$extended-transition: all .75s;
$extended-secondary-transition: all .75s linear .5s;

// Mixins

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// Main Classes

.content {
  transition: $secondary-transition;
}

// Highlighting Classes

.obscure {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

// Declare fonts

@font-face {
  font-family: 'Colaborate';
  src: url(asset-path('fonts/ColabReg.otf')) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Colaborate';
  src: url(asset-path('fonts/ColabThi.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Equip';
  src: url('fonts/Equip/EquipLig-webfont.woff') format('woff'); /* Pretty Modern Browsers */
  src: url('fonts/Equip/EquipLig-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Equip/EquipLig-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Equip/EquipLig-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

