<li class="message">
  <% if user.current_user? %>
  <%= image_tag "brianScalabrine.jpeg", alt: "user Picture", id: "user-picture" %>
  <span>Chris Moy</span>
  <p>John jacob jingleheimer schmidt his name was my name too</p>
  <span>9:30p</span>
</li>
