.time-grid {
  @include block-grid(
    $per-row: 1,
    $spacing: 0,
    $base-style: true
  );
    .time-panel {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% center;
  }
}