$message-padding: 1rem;
$message-bg-color: rgba(0,0,0,0.5);

.blocker {
  background: transparent;
}

@media #{$small-up} {
  #game-content {
    width: 100%;
    height: 100%;
    padding: 10rem 1rem 0 1rem;
    margin: 0;
    .game-section {
      width: 100%;
      display: inline-block;
      margin: 0;
      vertical-align: top;
    }
    .chat {
      @extend .game-section;
      color:  rgba(255,255,255,1);
      padding: 1rem;
      .board-container {
        height: 50rem;
        overflow-y: auto;
        padding: 0;
        background: $white;
        border: solid $gainsboro;
        border-width: 1px 0;
        #chat-board {
          margin: 0;
          padding: $message-padding 0;
          .message {
            display: relative;
            margin-bottom: 2 * $message-padding;
            .user-picture {
              width: 25%;
              vertical-align: top;
              display: inline-block;
              img {
                height: .75 * $base-page-spacing;
                display: block;
                margin: 0 auto;
                vertical-align: top;
                border-radius: .5rem;
              }
            }
            .content {
              display: inline-block;
              width: 70%;
              padding: 0;
              border-radius: .5rem;
              position: relative;
              .name {
                display: inline-block;
                color: $app-red;
                font-size: 2rem;
              }
              .time {
                display: inline-block;
                color: $body-font-color;
                font-size: 1.5rem;
                font-style: italic;
              }
              p {
                font-size: 1.5rem;
                color: $body-font-color;
              }
            }
          }
        }
      }
      form {
        margin-top: 1rem;
        input {
          font-size: 2rem;
          line-height: 4rem;
          height: 4rem;
          padding: 0 1rem;
          margin-bottom: 0;
        }
        input:focus { outline: transparent; }
      }
    }
    .game-info {
      @extend .game-section;
      color: rgba(0,0,0,1);
      text-align: center;
      padding: 0 5rem;
      h3 {
      }
    }
  }
}

@media #{$large-up} {
  #game-content {
    padding: 9rem 5rem 0 5rem;
    .chat {
      width: 49%;
    }
    .game-info {
      width: 50%;
    }
  }
}

