$message-padding: 1rem;
$message-bg-color: rgba(0,0,0,0.5);

.blocker {
  background: transparent;
}
#game-content {
  width: 100%;
  height: 100%;
  padding: 10rem 1rem 0 1rem;
  margin: 0;
  .game-section {
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  .address {
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
    text-align: center;
    h4, h5 { display: inline-block; }
    span { font-weight: bold; }
    a { text-transform: uppercase; }
    .time { display: none; }
  }
  .game-info {
    @extend .game-section;
    color: rgba(0,0,0,1);
    .team-section {
      display: inline-block;
      vertical-align: top;
    }
    .player-list {
      list-style-type: none;
      margin-left: 0;
      padding: 2rem 0;
      .player {
        margin-bottom: 2rem;
        img {
          height: $base-page-spacing;
          border-radius: .5rem;
          display: inline-block;
          vertical-align: top;
        }
        .name {
          display: inline-block;
          line-height: $base-page-spacing;
          padding: 0 1rem;
          font-size: 2rem;
        }
        &.empty_user {
          .name {
            font-style: italic;
            color: gray;
          }
        }
      }
    }
    .players {
      @extend .team-section;
      width: 100%;
      .players-heading {
        display: block;
        text-align: center;
        margin-bottom: 3rem;
        span { border-bottom: 2px solid $gainsboro; }
      }
      #participants {
        @extend .player-list;
        text-align: left;
        .player { text-align: center; }
      }
    }
  }
  .chat {
    @extend .game-section;
    color:  rgba(255,255,255,1);
    padding: 1rem;
    h6 {
      display: block;
      margin: 0 auto;
      text-align: center;
      border-top: 2px solid $gainsboro; //$app-red;
      padding-top: 1rem;
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      color: $body-font-color;
      padding-bottom: 1rem;
      font-style: italic;
    }
    .board-container {
      height: 40rem;
      overflow-y: auto;
      padding: 0;
      background: $white;
      border: solid $gainsboro; //$app-red;
      border-width: 2px 0;
      #chat-board {
        margin: 0;
        padding: $message-padding 0;
        .message {
          display: relative;
          margin-bottom: 2 * $message-padding;
          .user-picture {
            width: 15%;
            vertical-align: top;
            display: inline-block;
            img {
              height: .75 * $base-page-spacing;
              display: block;
              margin: 0 auto;
              vertical-align: top;
              border-radius: .5rem;
            }
          }
          .content {
            display: inline-block;
            width: 80%;
            padding: 0;
            border-radius: .5rem;
            position: relative;
            .name {
              display: inline-block;
              color: $app-red;
              font-size: 2rem;
            }
            .time {
              display: inline-block;
              color: $body-font-color;
              font-size: 1.5rem;
              font-style: italic;
            }
            p {
              font-size: 1.5rem;
              color: $body-font-color;
              text-align: left;
            }
          }
        }
      }
    }
    form {
      margin-top: 1rem;
      input, button {
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        padding: 0 1rem;
        margin-bottom: 0;
      }
      input:focus { outline: transparent; }
      .chat-row {
        @include grid-row($behavior: collapse);
        .chat-text {
          @include grid-column(
            $columns:10,
            $last-column:true,
            $collapse:true
          );
        }
        .chat-submit {
          @include grid-column(
            $columns:2,
            $last-column:false,
            $collapse:true
          );
          button {
            width: 100%;
            background: $app-blue;
          }
        }
      }
    }
  }
}


@media #{$medium-up} {
  #game-content {
    padding-top: 13rem;
    .game-info {
      .players {
        #participants {
          @include block-grid(2);
          .player {
            .name {
              padding: 0 2rem;
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}

@media #{$large-up} {
  #game-content {
    .address {
      @include grid-column(
        $columns:6,
        $last-column:false
      );
      h4 {
        span { display: none; }
      }
      .time {
        font-size: 3rem;
        line-height: 1;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        margin: 4rem 0;
        border: 2px solid $body-font-color;
        border-radius: .5rem;
        text-transform: uppercase;
        padding: 1.5rem 2rem 1rem 2rem;
        span {
          font-size: 5rem;
        }
      }
    }
    .game-info {
      @include grid-column(
        $columns:6,
        $last-column:true
      );
      .players {
        #participants {
          .player {
            .name {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}

